@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg);
  background-position: left -340px top -400px, right -270px bottom -500px;
  background-repeat: no-repeat, no-repeat;

  background-color: var(--background-color);
}

.container {
  display: grid;
  height: 100vh;
}

.card {
  background-image: url(../images/bg-pattern-card.svg);
  background-position: top center;
  background-repeat: repeat-x;
  background-color: var(--card-color);
  place-self: center;
  justify-self: center;
  text-align: center;
  width: 35rem;
  height: 37.4rem;
  border-radius: 1.5rem;
  box-shadow: 0 5rem 10rem -2rem rgba(8, 70, 94, 0.5);
}

.info {
  margin: 9.2rem 0 2.8rem 0;
}

.info .profile-photo {
  width: 9.6rem;
  height: 9.6rem;
  border-radius: 9.6rem;
  border: 0.5rem solid var(--card-color);
}

.info .name {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 1.3rem;
}

.info .age {
  font-weight: 400;
  color: var(--sub-text-color);
  margin-left: 0.85rem;
}

.info .city {
  color: var(--sub-text-color);
  font-size: 1.4rem;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.7rem;
  margin: 2.4rem 0 2.8rem 0;
}

ul .number {
  font-size: 1.8rem;
  color: var(--text-color);
  font-weight: 700;
  padding-bottom: 0.8rem;
}

ul .category {
  color: var(--sub-text-color);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.15rem;
}

@media (max-width: 480px) {
  body {
    background-position: 0, 0;
  }
}
